@{
    ViewBag.Title = "Hội thảo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/hoi-thao/css.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/custom-other.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/custom-style.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/flexslider.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/layerslider.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/owl.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/skin.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div>
            <div id="module_74648">
                <section id="banner-slide">
                    <img src="~/Content/images/hoi-thao/22.JPG" style="width: 100%" />
                </section>
                <section class="container book-hotel">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="wrap-bookHotel">
                                <a href="#" class="btn-bookHotel"> Hội thảo</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="module_74652">
                <h2>Hội thảo</h2>
                <p>Với hệ thống phòng họp có diện tích lớn, trang thiết bị tiêu chuẩn, các phòng họp còn có thể ngăn nhỏ thành những phòng riêng biệt, cho quý khách nhiều không gian để lựa chọn. Từ các buổi dạ tiệc theo chủ đề, lễ cưới hỏi, tới các cuộc hội thảo, hội nghị, diễn đàn, hệ thống phòng họp của khách sạn Thắng Lợi đều đáp ứng được nhu cầu tổ chức sự kiện đa dạng của quý khách.</p>
                <div class="row ">
                    <p style="width: 100%"><img src="/Content/images/hoi-thao/23.JPG" style="width: 100%" alt="Alternate Text" /></p>
                    <p style="width: 100%"><img src="/Content/images/hoi-thao/24.JPG" style="width: 100%" alt="Alternate Text" /></p>
                    <p style="width: 100%"><img src="/Content/images/hoi-thao/25.JPG" style="width: 100%" alt="Alternate Text" /></p>
                    <p style="width: 100%"><img src="/Content/images/hoi-thao/26.JPG" style="width: 100%" alt="Alternate Text" /></p>
                </div>
            </div>
        </div>

    </div>
</div>
