@{
    ViewBag.Title = "Hội thảo và tiệc cưới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/hoi-thao/css.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/custom-other.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/custom-style.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/flexslider.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/layerslider.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/owl.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/skin.css" rel="stylesheet" />
<hr />
<div class="container">
    <div class="row">
        <div>
            <div id="module_74648">
                <section id="banner-slide">
                    <img src="~/Content/images/hoi-thao/1.JPG" style="width: 100%" />
                </section>
                <section class="container book-hotel">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="wrap-bookHotel">
                                <a href="#" class="btn-bookHotel"> Hội thảo và tiệc cưới</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <hr />
            <div id="module_74652">
                <section class="container">
                    <div class="workshop-item isLeft">
                        <div class="row row-collapse com-flex com-flex-middle">
                            <div class="col-xs-6 ">
                                <a href="">
                                    <img class="img-responsive" src="/Content/images/hoi-thao/IMG_40871.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-xs-6 ">
                                <div class="info">
                                    <h1>Tiệc Cưới</h1>
                                    <p class="line-clamp line-clamp-4">
                                        Nằm cạnh Hồ Tây với khuôn viên rộng lớn, nhiều cây xanh tạo cảm giác thơ mộng cho tiệc cưới. Đây là điểm đến lý tưởng cho cặp uyên ương muốn tìm không khí thanh bình, ấm cũng giữa lòng thành phố ồn ào. Phòng lớn tại khách sạn Thắng Lợi chứa được khoảng 500 khách
                                    </p>
                                    <a href="@Url.Action("TiecCuoi")" class="btn btn-default btn-detail">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="workshop-item isRight">
                        <div class="row row-collapse com-flex com-flex-middle">
                            <div class="col-xs-6 col-xs-push-6">
                                <a href="">
                                    <img class="img-responsive" src="/Content/images/hoi-thao/1468805898_IMG_85671.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-xs-6 col-xs-pull-6">
                                <div class="info">
                                    <h1>Hội thảo</h1>
                                    <p class="line-clamp line-clamp-4">
                                        &nbsp;Với hệ thống phòng họp có diện tích lớn, trang thiết bị tiêu chuẩn, các phòng họp còn có thể ngăn nhỏ thành những phòng riêng biệt, cho quý khách nhiều không gian để lựa chọn. Từ các buổi dạ tiệc theo chủ đề, lễ cưới hỏi, tới các cuộc hội thảo, hội nghị, diễn đàn, hệ thống phòng họp của khách sạn Thắng Lợi đều đáp ứng được nhu cầu tổ chức sự kiện đa dạng của quý khách.
                                    </p>
                                    <a href="@Url.Action("HoiThao")" class="btn btn-default btn-detail">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </div>
</div>
