
@{
    ViewBag.Title = "Không có quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        Rất tiếc bạn không có quyền truy cập vào mục này, vui lòng liên hệ với người quản trị.
    </div>
</div>