@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hội thảo và tiệc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/hoi-thao/css.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/custom-other.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/custom-style.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/flexslider.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/layerslider.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/owl.css" rel="stylesheet" />
<link href="~/Content/css/hoi-thao/skin.css" rel="stylesheet" />

<hr />
<div class="container">
    <div class="row">
        <div>
            <div id="module_74648">
                <section id="banner-slide">
                    <img src="~/Content/images/hoi-thao/7.JPG" style="width: 100%" />
                </section>
            </div>
            <hr />
            <div id="module_74652">
                <section class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="box-contact">
                                <h4>Liên Hệ</h4>
                                <ul class="nav">
                                    <li>Địa chỉ: Khách sạn ABC</li>
                                    <li>Tel: 0967138262</li>
                                    <li>E: info@thangnguyenquyet.vn</li>
                                </ul>
                            </div>

                            <div class="box-bookRoom">
                                  <div class="text-center">
                                    <h4>Đặt phòng nhanh</h4>
                                    <div class="line"></div>
                                    <p>
                                      Hãy trải nghiệm không gian tuyệt vời và dịch vụ cao cấp tại Chuỗi khách sạn Thắng Lợi nằm ngay giữa trung tâm Thành phố
                                    </p>
                                    <img src="styles/thangloihotel/images/4star.png" alt="">
                                  </div>
                                  <div class="form-book">
                                    <form action="">
                                      <div class="row">
                                        <div class="col-xs-12 mb-10">
                                          <div class="input-icon icon-right">
                                            <input type="text" name="" id="" class="form-control non-pl bookHotelDatePicker" placeholder="Ngày đến" />
                                            <i class="fa fa-calendar"></i>
                                          </div>
                                        </div>
                                        <div class="col-xs-12 mb-10">
                                          <div class="input-icon icon-right">
                                            <input type="text" name="" id="" class="form-control non-pl bookHotelDatePicker" placeholder="Ngày đi" />
                                            <i class="fa fa-calendar"></i>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row non-padding-col mb-10">
                                        <div class="col-xs-6 non-padding-right">
                                          <select class="form-control">
                                            <option value="">Số phòng</option>
                                            <option value="">101</option>
                                            <option value="">201</option>
                                            <option value="">301</option>
                                          </select>
                                        </div>
                                        <div class="col-xs-6 non-padding-left">
                                          <select class="form-control">
                                            <option value="">Số người</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <button class="btn btn-default btn-block btn-submit" onclick="alert('Tính năng này đang xây dựng, chúng tôi sẽ cập nhật tính năng này sớm nhất.')">đặt phòng cho tôi</button>
                                        </div>
                                      </div>
                                      <input type="hidden" name="form_block_id" value="74652">
                                    </form>


                                  </div>
                                </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="new-contentDetail">
                                <h2 class="mt-0">Hệ Thống Khách Sạn Trên Toàn Quốc</h2>
                                <!---<p style="color: #878787;font-size: 14px;">Thứ năm 28/07/2016</p>--->
                                <p style="  font-size: 18px;  line-height: 28px; ">
                                    Giới thiệu khách sạn
                                    <br />
                                    Khách sạn tọa lạc gần sân bay quốc tế và quốc nội Tân Sơn Nhất của thành phố Hồ Chí Minh và khu vực phía Nam. Là cánh cửa đầu tiên của TP. HCM mở ra đón bạn bè quốc tế đến với các di sản thiên nhiên - văn hóa nổi tiếng thế giới và các trung tâm thương mại lớn của Việt Nam, Lào và Campuchia.
                                    <br />

                                    Nằm cạnh các trung tâm triển lãm, thể thao, giải trí lớn của thành phố: Khách sạn có vị trí lý tưởng nằm cạnh các trung tâm triển lãm, thể thao, giải trí lớn của thành phố:
                                    <br />
                                    - Trung tâm Quận 1 - 5km; Trung tâm Chợ Lớn - 6km
                                    <br />
                                    - Hội chợ Phú Thọ - 2 km
                                    <br />
                                    - Các Trung tâm thể thao: Trung tâm Văn hóa Thể Thao Tân Bình - 500m, Trung Tâm Thể Dục Thể Thao Quốc Phòng II - 800m.
                                    <br />
                                    - Trung Tâm Giải trí-mua sắm: VinMart 800m; Superbowl - 1km; Parkson/C.T Plaza - 1,5 km; Parkson Flemington - 2 km; Lotte Mart - 2 km.
                                    <br />

                                    Tách biệt trong một khu vực riêng biệt và rộng rãi, khách sạn là một khu tổ hợp với 2 khu khách sạn, 4 nhà hàng và hơn 10 sảnh tiệc – hội nghị.
                                    <br />

                                    Khách sạn được chia thành 5 hạng phòng khác nhau, được du khách yêu thích bởi sự sạch sẽ và dịch vụ phòng hoàn hảo. Ngoài ra, khách sạn còn trang bị phòng tập thể hình, hồ bơi, 3 sân tennis, CLB trò chơi có thưởng (chỉ dành cho khách nước ngoài) & khu mát-xa – xông hơi để phục vụ khách lưu trú.
                                    <br />

                                    Ẩm thực cũng là một thế mạnh bởi sự đa dạng phong cách và tinh tế trong từng món ăn. Nhà hàng Phố Nướng , Korea House và Hanasushi mang đến những món ăn cũng như không gian đặc trưng đậm chất Việt Nam, Hàn Quốc & Nhật Bản. Với nhà hàng Buffet là sự tổng hợp hài hòa các món ăn đến từ Việt – Á – Âu, là một bữa tiệc hoành tráng thật sự cho khách lưu trú tại khách sạn nói riêng và thực khách Sài Gòn nói chung.
                                    <br />

                                    Đi kèm với dịch vụ lưu trú và ẩm thực, khách sạn còn cung cấp các dịch vụ - giải pháp cho tiệc và hội nghị. Hơn 20 sảnh tiệc – hội nghị với sức chứa mỗi nơi từ 30 – 1000 người, được trang bị máy móc hiện đại và chất lượng phục vụ đẳng cấp. là khách sạn quốc tế 4 sao, được Tổng Cục Du Lịch Việt Nam - Hiệp Hội Du lịch Việt Nam bình chọn là một trong 10 khách sạn hàng đầu Việt Nam liên tục từ năm 1999 đến 2014.
                                </p>
                                <div>
                                    <p><img src="/Content/images/hoi-thao/2.jpg" alt="" width="800" height="533" /></p>
                                    <p><img src="/Content/images/hoi-thao/3.jpg" alt="" width="800" height="533" /></p>
                                    <p><img src="/Content/images/hoi-thao/4.jpg" alt="" width="800" height="533" /></p>
                                    <p><img src="/Content/images/hoi-thao/8.jpg" alt="" width="800" height="533" /></p>
                                </div>
                            </div>

                            <div class="new-other">
                                <div class="header">
                                    <div class="line"></div>
                                </div>
                                <div class="content">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

