<ul class="nav navbar-nav text-uppercase">
    <li>
        <a href="/"><h7 style="text-transform: uppercase">Khách sạn</h7></a>
    </li>
    <li class=" ">
        <a href="@Url.Action("Index", "HoiThao")"><h7 style="text-transform: uppercase">Các dịch vụ thêm</h7></a>
    </li>
    <li class=" ">
        <a href="@Url.Action("Index", "CamNangDuLich")"><h7 style="text-transform: uppercase">Thế giới du lịch</h7></a>
    </li>
    <li class=" ">
        <a href="@Url.Action("Index", "GioiThieu")"><h7 style="text-transform: uppercase">Về chúng tôi</h7></a>
    </li>
</ul>