@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- mytour:css -->
<link href="https://static.mytour.vn/themes/dist/5217a58385bba3a10e76189c0dd7975f-b6f59258eb.min.css" rel="stylesheet" type="text/css" />
<!-- end -->

<link rel="stylesheet" type="text/css" href="https://static.mytour.vn/themes/css/photoswipe.css">
<link rel="stylesheet" type="text/css" href="https://static.mytour.vn/themes/css/photoswipe-default-skin.css">
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <!-- page-header -->
            <div class="page-header">
                <h1 class="title-lg">
                    5 địa điểm du lịch độc đ&aacute;o tr&ecirc;n thế giới đ&atilde; kịp in dấu ch&acirc;n c&aacute;c bạn trẻ Việt Nam! - Kỳ 2
                </h1>

                <div class="row">
                    <div class="col-sm-12">
                        <p class="blog-data pull-left mg-r-15">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">27/09/2017</span>
                            </span>
                            <span class="mg-l-10">
                                <i class="fa fa-eye"></i>
                                <span class="data-view"> 340</span>
                            </span>
                        </p>
                        <!-- social -->
                        <ul class="list-inline">
                            <li class="fb-button">
                                <div class="fb-like" data-href="/location/13184-nhung-dia-diem-du-lich-doc-dao-cua-ban-tre-viet-nam.html"
                                     data-layout="button_count" data-action="like" data-show-faces="false"
                                     data-share="true"></div>
                            </li>
                            <li class="gp-button">
                                <div class="g-plusone" data-size="medium"
                                     data-href="/location/13184-nhung-dia-diem-du-lich-doc-dao-cua-ban-tre-viet-nam.html"></div>
                            </li>
                        </ul>
                        <!-- /.social -->
                    </div>
                </div>
                <div class="dark mg-bt-10"></div>
            </div>
            <!-- /.page-header -->

            <div class="blog clearfix location_content">
                <div class="detail-content col-xs-12 mg-bt-10">
                    <p><em><strong>C&aacute;c c&acirc;u chuyện đầy x&uacute;c cảm về những chuyến phi&ecirc;u lưu c&oacute; lẽ lu&ocirc;n l&agrave; một đề t&agrave;i rất "b&eacute;n" v&agrave; dễ mang người ta x&iacute;ch lại gần nhau hơn bao giờ hết. Chắc ch&uacute;ng ta ai cũng đ&atilde; từng một lần t&uacute;m tụm với hội chị em bạn d&igrave; để n&oacute;i về hồi ức những chuyến đi v&agrave; rồi bất gi&aacute;c đồng thanh: "Tr&aacute;i Đất g&igrave; m&agrave; ch&aacute;n ph&egrave;o!!! Đi riết cũng hết chỗ để đi rồi!". Những l&uacute;c cảm gi&aacute;c đ&oacute; &ugrave;a về, thật sự chẳng cần g&igrave; hơn một c&aacute;i đĩa bay để được về với h&agrave;nh tinh mẹ cho xong!</strong></em>&nbsp;<strong><em>Nhưng khoan vội đ&atilde;. Nếu bạn đ&atilde; đặt ch&acirc;n đến hết những nơi si&ecirc;u hot, được giới trẻ check-in li&ecirc;n tục v&agrave; cho rằng quả địa cầu n&agrave;y cũng chỉ c&oacute; vậy th&igrave; lầm to. Nếu Rihanna c&oacute; thể t&igrave;m thấy t&igrave;nh y&ecirc;u ở một nơi v&ocirc; vọng th&igrave; bạn cũng c&oacute; thể t&igrave;m thấy khối điều th&uacute; vị v&agrave; hay ho ở những nơi kh&ocirc;ng ai ngờ tới.</em></strong></p>

                    <p>&nbsp;</p>

                    <p style="text-align: center;"><em><strong>Mời bạn xem th&ecirc;m:&nbsp;<a href="http://mytour.vn/location/13183-5-dia-diem-du-lich-doc-dao-tren-the-gioi-da-kip-in-dau-chan-cac-ban-tre-viet-nam-ky-1.html" target="_blank">5 địa điểm du lịch độc đ&aacute;o tr&ecirc;n thế giới đ&atilde; kịp in dấu ch&acirc;n c&aacute;c bạn trẻ Việt Nam! - Kỳ 1</a></strong></em></p>

                    <p>&nbsp;</p>

                    <h2>NEPAL - VÙNG Đ&Acirc;́T T&Acirc;M LINH HUY&Ecirc;̀N BÍ</h2>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: justify;">Giữa thời buổi c&ocirc;ng nghệ b&ugrave;ng nổ như hiện nay, đ&atilde; bao giờ bạn tự hỏi người ta sẽ l&agrave;m g&igrave; nếu sống m&agrave; kh&ocirc;ng c&oacute; mạng x&atilde; hội? Nghe th&ocirc;i đ&atilde; thấy đ&aacute;ng sợ. Nhưng ch&iacute;nh bạn sẽ c&oacute; thể d&ugrave;ng trải nghiệm thực tế đi t&igrave;m c&acirc;u trả lời bằng c&aacute;ch về với Nepal.</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-8.jpg" style="width: 700px;height: 467px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <div>
                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-9.png" style="width: 700px;height: 467px;"></p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-10.png" style="width: 700px;height: 467px;"></p>

                        <p style="text-align: center;">&nbsp;</p>
                    </div>

                    <p style="text-align: justify;">Đầu ti&ecirc;n, bạn sẽ cho&aacute;ng ngợp với sự hiếu kh&aacute;ch của người d&acirc;n nơi n&agrave;y. Sống với quan niệm "Gặp được nhau l&agrave; duy&ecirc;n", ở đ&acirc;y người gi&agrave; cũng như trẻ con đều kh&ocirc;ng nề h&agrave; chuyện lạ hay quen. Chỉ cần nh&igrave;n thấy nhau hay thấy bạn, họ sẽ mỉm cười th&acirc;n thiện. Ngo&agrave;i ra, nếu kh&ocirc;ng ở kh&aacute;ch sạn hạng sang, bạn c&oacute; thể sử dụng dịch vụ homestay, hoặc l&agrave;m t&igrave;nh nguyện v&agrave; xin ở nh&agrave; d&acirc;n để được hiểu r&otilde; hơn về con người v&agrave; truyền thống ở xứ n&agrave;y. Đ&ecirc;m về, bạn l&agrave;m g&igrave; nếu phải sinh hoạt trong t&igrave;nh trạng mất điện ho&agrave;n to&agrave;n. Xung quanh mọi thứ tối om, chỉ c&oacute; m&agrave;n đ&ecirc;m với những ng&ocirc;i sao nhỏ lấp l&aacute;nh như những hạt kim cương ai đ&oacute; lỡ tay l&agrave;m rớt tr&ecirc;n bầu trời. Đừng nghĩ đến việc d&ugrave;ng 3G để v&agrave;o internet nh&eacute;. V&igrave; như đ&atilde; đề cập, ở Nepal, mạng mẽo l&agrave; c&aacute;i g&igrave; đ&oacute; rất xa xỉ. Kế đến, đừng qu&ecirc;n t&igrave;m hiểu về lịch sử v&agrave; nền văn h&oacute;a đặc sắc, phong ph&uacute; của Nepal được h&igrave;nh th&agrave;nh từ trước cả thời trung cổ.</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-13.jpg" style="width: 700px;height: 467px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-14.png" style="width: 700px;height: 467px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-15.png" style="width: 700px;height: 467px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-16.jpg" style="width: 700px;height: 467px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-17.png" style="width: 700px;height: 467px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-18.png" style="width: 700px;height: 467px;"></p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: justify;">Nepal l&agrave; nơi Đức Phật đ&atilde; đản sinh v&agrave; nhập niết b&agrave;n. Do đ&oacute;, nếu đ&atilde; đến Nepal, h&atilde;y đến thăm 4 th&aacute;nh t&iacute;ch thi&ecirc;ng li&ecirc;ng nhất của Phật gi&aacute;o gồm Lumbini, Bodhgaya, Sarnath v&agrave; Kushinagar. Ngo&agrave;i ra, bạn cũng c&oacute; thể đi tham quan c&aacute;c con s&ocirc;ng v&agrave; hồ nước xinh đẹp ở đất nước hiền h&ograve;a n&agrave;y.</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <div>
                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/4/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-18bis.jpg" style="width: 700px;height: 394px;"></p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-19.jpg" style="width: 700px;height: 464px;"></p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-20.jpg" style="width: 700px;height: 980px;"></p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-21.jpg" style="width: 700px;height: 394px;"></p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-22.jpg" style="width: 700px;height: 525px;"></p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-23.jpg" style="width: 700px;height: 464px;"></p>

                        <p style="text-align: center;">&nbsp;</p>
                    </div>

                    <p style="text-align: justify;">B&ecirc;n cạnh những hoạt động kể tr&ecirc;n, nếu y&ecirc;u chinh phục độ cao, bạn c&oacute; thể thử sức c&ugrave;ng ngọn n&uacute;i Everest mẫu chuyện của&nbsp;Ph&uacute; Đ&agrave;o&nbsp;v&agrave;&nbsp;Nguyễn Ho&agrave;ng Minh&nbsp;c&ugrave;ng nh&oacute;m bạn đ&atilde; chia sẻ trong cuộc thi&nbsp;Here We Go. Với ch&acirc;m ng&ocirc;n "Lu&ocirc;n lu&ocirc;n thay đổi thực đơn cho gi&aacute;c quan", h&agrave;nh tr&igrave;nh của họ đ&atilde; kh&eacute;p lại với sự h&acirc;n hoan ngập tr&agrave;n khi ch&acirc;n đứng tr&ecirc;n v&ugrave;ng đất t&acirc;m linh, tay được chạm v&agrave;o từng ng&ocirc;i nh&agrave;, kiệt t&aacute;c đ&atilde; ki&ecirc;u h&atilde;nh tồn tại c&ugrave;ng thời gian cũng như niềm hạnh ph&uacute;c khi đứng tr&ecirc;n đỉnh Poonhill cao 3210m. Tuổi trẻ l&agrave; phải mạnh mẽ. Những ch&agrave;ng trai ấy đ&atilde; đ&oacute;ng một dấu mốc của sự tự h&agrave;o về những ng&agrave;y tuổi trẻ lấy đất trời bao la l&agrave;m nh&agrave;.</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: justify;">- C&aacute;c th&agrave;nh phố/ địa danh nổi tiếng:&nbsp;Pokhara, Lumbini, Lukla, Nagarkot, đỉnh Everest</p>

                    <p style="text-align: justify;">- Ăn uống: Mono, Phở n&oacute;ng Nepal, Sel roti, Dheedo, Tr&agrave; Masala</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <h2>S&Ocirc;́NG CH&Acirc;̣M Ở BUDAPEST</h2>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: justify;">Tr&ecirc;n bản đồ c&aacute;c điểm phải đặt ch&acirc;n đến 1 lần trong đời, c&oacute; bao giờ bạn nghĩ sẽ đến Budapest chưa? Tất cả những g&igrave; t&ocirc;i biết về Budapest th&igrave; đ&oacute; l&agrave; th&agrave;nh phố lớn nhất của Hungary, l&agrave; trung t&acirc;m ch&iacute;nh trị, văn h&oacute;a, thương mại c&ocirc;ng nghiệp&hellip; của đất nước n&agrave;y. Đ&acirc;y l&agrave; những g&igrave; t&ocirc;i g&otilde; vội về Budapest tr&ecirc;n Google. Nhưng c&oacute; lẽ t&ocirc;i v&agrave; bạn sẽ cần thay đổi một ch&uacute;t trong suy nghĩ để c&acirc;n nhắc đến việc sẽ gh&eacute; qua th&agrave;nh phố n&agrave;y một lần khi c&oacute; người đ&atilde; nhắn nhủ thế n&agrave;y về Budapest:&nbsp;"Bao lần lang thang giữa nhịp sống chậm r&atilde;i ở Budapest, ta bỗng chợt thấy một g&oacute;c rất H&agrave; Nội dưới một t&aacute;n l&aacute; c&acirc;y ngả v&agrave;ng v&agrave; mưa ph&ugrave;n lất phất như một ng&agrave;y đ&ocirc;ng gi&aacute;."</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <div>
                        <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-24.jpg" style="width: 700px;height: 525px;"></p>

                        <p style="text-align: center;">&nbsp;</p>
                    </div>

                    <p style="text-align: justify;">Budapest c&oacute; một vẻ đẹp giống với H&agrave; Nội. Đ&oacute; l&agrave; qua lời kể của&nbsp;Hanh Tran, c&ocirc; g&aacute;i đ&atilde; nhớ về H&agrave; Nội khi trải nghiệm m&ugrave;a thu ở Budapest với khoảnh khắc ngồi tr&ecirc;n thềm ghế đ&aacute; giữa c&ocirc;ng vi&ecirc;n ngập nắng, bị đ&aacute;nh thức bởi m&ugrave;i ẩm mốc của những mảnh tường cũ kĩ giữa xung quanh l&agrave; những người bạn mới, n&oacute;i một thứ ng&ocirc;n ngữ v&ocirc; c&ugrave;ng lạ lẫm.</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: justify;">Thủ đ&ocirc; của Hungary cũng l&agrave; một trong những địa điểm du lịch nổi tiếng, được gọi l&agrave; "tr&aacute;i tim Trung &Acirc;u". Budapest c&oacute; những c&ocirc;ng tr&igrave;nh kiến tr&uacute;c đẹp v&agrave; cổ k&iacute;nh mang phong c&aacute;ch Đ&ocirc;ng &Acirc;u, c&oacute; rất nhiều điểm tham quan v&agrave; trải nghiệm m&agrave; nếu muốn đi hết h&atilde;y d&agrave;nh thời gian ở Budapest 2-3 ng&agrave;y. Một trong những trải nghiệm m&agrave; bạn kh&ocirc;ng thể bỏ qua khi đến Budapest đ&oacute; l&agrave; đi thuyền tr&ecirc;n s&ocirc;ng, xuy&ecirc;n qua rất nhiều những c&acirc;y cầu như Margaret Bridge, Chain Bridge, Elizabeth Bridge, Liberty Bridge sẽ đưa bạn đến từng địa điểm tham quan nổi tiếng. H&agrave;nh tr&igrave;nh đến một th&agrave;nh phố cổ, ngay cả những qu&aacute;n bar, pub tại đ&acirc;y cũng được x&acirc;y dựng n&ecirc;n từ những t&ograve;a nh&agrave; đổ n&aacute;t từ thế chiến thứ 2 chắc chắn sẽ l&agrave; những trải nghiệm th&uacute; vị của một thời tuổi trẻ! Thế giới ngo&agrave;i kia rộng lớn biết bao, đ&ocirc;i ch&acirc;n ta th&igrave; nhỏ b&eacute;, chỉ c&oacute; đi, ta mới cảm thấy m&igrave;nh lớn l&ecirc;n, hiểu biết hơn, v&agrave; tr&aacute;i tim biết y&ecirc;u cuộc đời n&agrave;y nhiều lần hơn nữa.</p>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-25.jpg" style="width: 700px;height: 525px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-26.jpg" style="width: 700px;height: 525px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p style="text-align: center;"><img alt="" src="https://static.mytour.vn/upload_images/Image/Location/10_1_2017/5/du-lich-the-gioi-dia-diem-doc-dao-2-mytour-27.jpg" style="width: 700px;height: 525px;"></p>

                    <p style="text-align: center;">&nbsp;</p>

                    <p>- C&aacute;c th&agrave;nh phố/ địa điểm du lịch nổi tiếng:&nbsp;S&ocirc;ng Danube, l&acirc;u đ&agrave;i Buda v&agrave; ph&aacute;o đ&agrave;i Fishermen &ndash; Buda Castle,&nbsp;Đồi Gellert &ndash; Gellert Hill, St. Stephen&rsquo;s Basilica v&agrave; Nh&agrave; Quốc hội Parliament House Andr&aacute;ssy Avenue v&agrave; Opera House, Heroes&rsquo; Square &ndash; Quảng trường Anh h&ugrave;ng, H&ograve;n đảo Margaret...</p>

                    <p>- Ăn uống:&nbsp;Guly&aacute;s&nbsp;(m&oacute;n s&uacute;p Goulash &ndash; một dạng thịt b&ograve; kho ăn k&egrave;m với b&aacute;nh mỳ rất ngon),&nbsp;Lecs&oacute;&nbsp;(gồm c&agrave; chua v&agrave; ớt),T&ouml;lt&ouml;ttk&aacute;poszta&nbsp;(thịt nhồi trong bắp cải),&hellip;</p>

                    <p>&nbsp;</p>

                    <p>Những bạn trẻ Việt kể tr&ecirc;n đ&atilde; mạnh dạn chọn những đất nước th&uacute; vị để kh&aacute;m ph&aacute; v&agrave; cuối c&ugrave;ng nhận ra họ đ&atilde; y&ecirc;u nơi họ từng đi qua. Th&ocirc;i đừng đắn đo nữa. H&atilde;y đi thật nhanh khi tr&aacute;i tim vẫn đập li&ecirc;n hồi th&uacute;c giục, khi đ&ocirc;i ch&acirc;n vẫn chưa thấy mỏi v&agrave; mắt vẫn lu&ocirc;n kh&aacute;t khao được nh&igrave;n những điều mới lạ. Thế gian n&agrave;y chưa hết chỗ để đi!</p>

                    <p>&nbsp;</p>

                    <p style="text-align: right;"><em><strong>Mytour.vn - Ngu&ocirc;̀n: Kenh14</strong></em></p>

                    <div class="box-tag">
                        <strong class="label bg-blue tag-icon mg-r-5"><i class="fa fa-tags"></i> Tags: </strong>

                    </div>
                </div>
            </div>

            <div id="hotel_interested" class="box device-pc-show clearfix">
            </div>

            <!-- plugin FB + GG -->
            <div class="col-xs-12">
                <ul class="list-inline mg-t-20">
                    <li class="fb-button">
                        <div class="fb-like" data-href="/location/13184-nhung-dia-diem-du-lich-doc-dao-cua-ban-tre-viet-nam.html"
                             data-layout="button_count" data-action="like" data-show-faces="false"
                             data-share="true"></div>
                    </li>
                    <li class="gp-button">
                        <div class="g-plusone" data-size="medium"
                             data-href="/location/13184-nhung-dia-diem-du-lich-doc-dao-cua-ban-tre-viet-nam.html"></div>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12">
                <div class="fb-comments" data-width="100%" data-href="https://mytour.vn//location/13184-nhung-dia-diem-du-lich-doc-dao-cua-ban-tre-viet-nam.html"
                     data-numposts="5"></div>
            </div>
            <!-- /end plugin FB + GG -->
            <!-- Có thể bạn quan tâm -->
            <div id="may-be-interested-box"></div>
            <!-- /Có thể bạn quan tâm -->
            <!-- Slider có thể bạn quan tâm -->
            <div id="slider-may-be-interested"></div>
            <!-- Slider có thể bạn quan tâm -->

        </div>
    </div>
</div>

